.contact-container {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .contact-left,
  .contact-right {
    background-color: #005572;
    height: 220px;
    border-radius: 25px;
    padding: 25px;
    color: white;
    width: 250px;
    margin: 20px;
  }

  .title {
    font-weight: bold;
    text-transform: uppercase;
  }
  .row {
    display: block;
    color: white;
    text-decoration: none;
    line-height: 30px;
    border-bottom: 1px solid white;
  }
}
