.header {
  margin-bottom: 40px;
  background-color: #00395d !important;
  &-title {
    padding-right: 30px;
    a {
      color: white;
      text-decoration: none;
    }
  }

  &-navigation {
    .nav-link {
      padding: 23px 23px 20px 23px;
      border-bottom: 3px solid transparent;
      color: white;
      text-decoration: initial;
      border-right: 1px solid black;
      &:first-of-type {
        border-left: 1px solid black;
      }
      &:hover {
        border-bottom-color: black;
      }
      &-active {
        border-bottom-color: white;
      }
    }
  }
}
